<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557349072084-f5e9d8dkkg9rp05oaqgra6878d8lthfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557349072084-f5e9d8dkkg9rp05oaqgra6878d8lthfg</string>
	<key>API_KEY</key>
	<string>AIzaSyCzyzCLht3piyygJ0kDFYaj5PCvtF75AX4</string>
	<key>GCM_SENDER_ID</key>
	<string>557349072084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trooth.flutterTroothAssessment</string>
	<key>PROJECT_ID</key>
	<string>only-blv</string>
	<key>STORAGE_BUCKET</key>
	<string>only-blv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557349072084:ios:6932039489546a37d79f41</string>
</dict>
</plist>