#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
CODE_SIGNING_ALLOWED[sdk=iphonesimulator*]=NO
CODE_SIGNING_REQUIRED[sdk=iphonesimulator*]=NO
CODE_SIGN_IDENTITY[sdk=iphonesimulator*]=
EXPANDED_CODE_SIGN_IDENTITY[sdk=iphonesimulator*]=
AD_HOC_CODE_SIGNING_ALLOWED[sdk=iphonesimulator*]=NO
